my_plutchik_model/emotion_centroids.pkl filter=lfs diff=lfs merge=lfs -text
data/processed/ERC/plutchik_v2_production.xlsx filter=lfs diff=lfs merge=lfs -text
my_plutchik_model/best_model.pt filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
